<a href="https://colab.research.google.com/github/Juanba98/Algorithmic_Trading/blob/main/quantitative_momentum_strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install XlsxWriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: XlsxWriter in /usr/local/lib/python3.7/dist-packages (3.0.3)

# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [ ]:
import numpy as np
import pandas as pd
import math
import requests
from scipy.stats import percentileofscore as score 
import xlsxwriter

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [ ]:
stocks = pd.read_csv('/content/sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Making Our First API Call

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [ ]:
stocks['Ticker']

0         A
1       AAL
2       AAP
3      AAPL
4      ABBV
       ...
500     YUM
501     ZBH
502    ZBRA
503    ZION
504     ZTS
Name: Ticker, Length: 505, dtype: object

In [ ]:
from importlib.machinery import SourceFileLoader
from os.path import join
secrets = SourceFileLoader('secrets', '/content/secrets.py').load_module()


symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={secrets.IEX_CLOUD_API_TOKEN}'
response=requests.get(api_url).json()

response

{'companyName': 'Apple Inc',
 'marketcap': 2334538473111,
 'week52high': 190.48,
 'week52low': 130.05,
 'week52highSplitAdjustOnly': 188.5,
 'week52lowSplitAdjustOnly': 129.98,
 'week52change': 0.004435042934113802,
 'sharesOutstanding': 16488738429,
 'float': 0,
 'avg10Volume': 107796067,
 'avg30Volume': 102061680,
 'day200MovingAvg': 160.35,
 'day50MovingAvg': 164.98,
 'employees': 151194,
 'ttmEPS': 6.17,
 'ttmDividendRate': 0.9133810040240947,
 'dividendYield': 0.006415805558426367,
 'nextDividendDate': '',
 'exDividendDate': '2022-07-30',
 'nextEarningsDate': '2022-10-22',
 'peRatio': 23.53374193183436,
 'beta': 1.2882117098976995,
 'maxChangePercent': 54.64076959676893,
 'year5ChangePercent': 2.90415230642144,
 'year2ChangePercent': 0.24724517856146813,
 'year1ChangePercent': 0.013061885366841806,
 'ytdChangePercent': -0.200421840891921,
 'month6ChangePercent': -0.18215738682792487,
 'month3ChangePercent': 0.04494856519405921,
 'month1ChangePercent': -0.094218935690453,
 'day30ChangePercent': -0.094695950934271,
 'day5ChangePercent': -0.05373700317027606}

## Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course. Here is an example.

In [ ]:
response['year1ChangePercent']

0.013061885366841806

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [ ]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [ ]:
dataFrame = pd.DataFrame(columns = my_columns)
for symbol_string in symbol_strings:

  batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={secrets.IEX_CLOUD_API_TOKEN}'

  data = requests.get(batch_api_call_url).json()

  for symbol in symbol_string.split(','):
   
    try:
      new_row = pd.Series(
                  [
                    symbol, 
                    data[symbol]['quote']['latestPrice'],
                    data[symbol]['stats']['year1ChangePercent'],
                    'N/A',
                  ],
                  index = my_columns

                ) 
      dataFrame = pd.concat(
        [
          dataFrame,
          new_row.to_frame().T
        ],
        ignore_index=True
      )
    except KeyError as e:
      print(f'Symbol {str(e)} data not found')

    

dataFrame

Symbol 'DISCA' data not found
Symbol 'HFC' data not found
Symbol 'VIAC' data not found
Symbol 'WLTW' data not found

    Ticker   Price One-Year Price Return Number of Shares to Buy
0        A   126.9             -0.223014                     N/A
1      AAL   12.51             -0.418605                     N/A
2      AAP  161.47             -0.213872                     N/A
3     AAPL   141.9              0.013078                     N/A
4     ABBV  140.78               0.38496                     N/A
..     ...     ...                   ...                     ...
496    YUM  108.15             -0.112292                     N/A
497    ZBH   105.4             -0.267595                     N/A
498   ZBRA  273.23             -0.487605                     N/A
499   ZION   53.32             -0.148299                     N/A
500    ZTS  151.29             -0.223719                     N/A

[501 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [ ]:
dataFrame.sort_values('One-Year Price Return',ascending=False, inplace=True) #inplane to modify the dataFrame
dataFrame = dataFrame[:50]
dataFrame.reset_index(inplace=True)

dataFrame

    index Ticker   Price One-Year Price Return Number of Shares to Buy
0     273     LB   79.93              2.337686                     N/A
1     355    OXY   61.78              1.124596                     N/A
2     147    DVN   62.32               0.84553                     N/A
3      89     CF    98.1              0.804813                     N/A
4     225    HRB   44.08              0.802213                     N/A
5     298    MCK  346.52              0.756083                     N/A
6     315    MRO   22.97              0.717816                     N/A
7      42    APA   35.08              0.679431                     N/A
8     313    MPC  104.03              0.661224                     N/A
9     470   VRTX  298.11              0.631861                     N/A
10    109    COP  105.28              0.630112                     N/A
11    457    UNM    39.6               0.62109                     N/A
12    465    VLO  108.07              0.603032                     N/A
13    492    XOM   89.28              0.582503                     N/A
14    463    VAR  182.83               0.57358                     N/A
15    159    EOG  117.18              0.530162                     N/A
16    271    KSU  294.51              0.523181                     N/A
17    123    CVX  148.82               0.49496                     N/A
18    334   NLSN   29.06               0.46195                     N/A
19    281    LLY  332.94              0.457608                     N/A
20    138   DLTR   139.7              0.448454                     N/A
21    384    PXD  222.81              0.447571                     N/A
22     94     CI  282.75              0.429337                     N/A
23    217    HES  109.44              0.427593                     N/A
24     77    CAH   68.15              0.415723                     N/A
25      4   ABBV  140.78               0.38496                     N/A
26    312    MOS   50.07              0.382347                     N/A
27    120   CTVA   57.57              0.377831                     N/A
28     11    ADM    81.8              0.375578                     N/A
29    229    HSY  220.89              0.356667                     N/A
30    484    WRB   64.72              0.355241                     N/A
31    366    PGR  120.57              0.347169                     N/A
32    107    COG    23.3              0.341517                     N/A
33    199    GIS   78.29               0.34098                     N/A
34     37   ANET  114.16              0.338676                     N/A
35    174   FANG  122.49              0.329727                     N/A
36    335    NOC  479.98              0.327643                     N/A
37    456    UNH  519.12              0.322422                     N/A
38    289     LW   78.02              0.303025                     N/A
39     39   ANTM  483.35              0.293262                     N/A
40    205    GPC  155.12              0.278484                     N/A
41    230    HUM  496.15              0.275971                     N/A
42     54    AZO  2224.3              0.271734                     N/A
43    153     ED   87.08              0.259264                     N/A
44    210    GWW  504.04              0.257634                     N/A
45    104    CNC   77.86              0.252367                     N/A
46     69    BMY   73.74              0.243916                     N/A
47    417    SRE  151.06               0.23559                     N/A
48    410    SLB    36.3              0.225889                     N/A
49    336    NOV   16.23              0.223821                     N/A

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

Since we've already done most of the work on this, try to complete the following two code cells without watching me do it first!

In [ ]:
#@markdown Enter the value of your portfolio.
portfolio_size = 10000000 #@param {type:"number"}

In [ ]:
position_size = float(portfolio_size)/len(dataFrame.index)
for i in range(0,len(dataFrame)):
  dataFrame.loc[i,'Number of Shares to Buy'] = math.floor(position_size/dataFrame.loc[i,'Price']) 

dataFrame

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

    index Ticker   Price One-Year Price Return Number of Shares to Buy
0     273     LB   79.93              2.337686                    2502
1     355    OXY   61.78              1.124596                    3237
2     147    DVN   62.32               0.84553                    3209
3      89     CF    98.1              0.804813                    2038
4     225    HRB   44.08              0.802213                    4537
5     298    MCK  346.52              0.756083                     577
6     315    MRO   22.97              0.717816                    8707
7      42    APA   35.08              0.679431                    5701
8     313    MPC  104.03              0.661224                    1922
9     470   VRTX  298.11              0.631861                     670
10    109    COP  105.28              0.630112                    1899
11    457    UNM    39.6               0.62109                    5050
12    465    VLO  108.07              0.603032                    1850
13    492    XOM   89.28              0.582503                    2240
14    463    VAR  182.83               0.57358                    1093
15    159    EOG  117.18              0.530162                    1706
16    271    KSU  294.51              0.523181                     679
17    123    CVX  148.82               0.49496                    1343
18    334   NLSN   29.06               0.46195                    6882
19    281    LLY  332.94              0.457608                     600
20    138   DLTR   139.7              0.448454                    1431
21    384    PXD  222.81              0.447571                     897
22     94     CI  282.75              0.429337                     707
23    217    HES  109.44              0.427593                    1827
24     77    CAH   68.15              0.415723                    2934
25      4   ABBV  140.78               0.38496                    1420
26    312    MOS   50.07              0.382347                    3994
27    120   CTVA   57.57              0.377831                    3474
28     11    ADM    81.8              0.375578                    2444
29    229    HSY  220.89              0.356667                     905
30    484    WRB   64.72              0.355241                    3090
31    366    PGR  120.57              0.347169                    1658
32    107    COG    23.3              0.341517                    8583
33    199    GIS   78.29               0.34098                    2554
34     37   ANET  114.16              0.338676                    1751
35    174   FANG  122.49              0.329727                    1632
36    335    NOC  479.98              0.327643                     416
37    456    UNH  519.12              0.322422                     385
38    289     LW   78.02              0.303025                    2563
39     39   ANTM  483.35              0.293262                     413
40    205    GPC  155.12              0.278484                    1289
41    230    HUM  496.15              0.275971                     403
42     54    AZO  2224.3              0.271734                      89
43    153     ED   87.08              0.259264                    2296
44    210    GWW  504.04              0.257634                     396
45    104    CNC   77.86              0.252367                    2568
46     69    BMY   73.74              0.243916                    2712
47    417    SRE  151.06               0.23559                    1323
48    410    SLB    36.3              0.225889                    5509
49    336    NOV   16.23              0.223821                   12322

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation `hqm` often. It stands for `high-quality momentum`.

In [ ]:
hqm_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy',
    'One-Year Price Return',
    'One-Year Return Percentile',
    'Six-Month Price Return',
    'Six-Month Return Percentile',
    'Three-Month Price Return',
    'Three-Month Return Percentile',
    'One-Month Price Return',
    'One-Month Return Percentile',
    'HQM Score'
]

hqm_dataFrame = pd.DataFrame(columns=hqm_columns)

for symbol_string in symbol_strings:

  batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={secrets.IEX_CLOUD_API_TOKEN}'
  data = requests.get(batch_api_call_url).json()

  for symbol in symbol_string.split(','):
    try:
      if(not data[symbol]['stats']['month6ChangePercent']):
        print(f'Error: {symbol} has null stats')
        continue
      new_row = pd.Series(
                  [
                    symbol, 
                    data[symbol]['quote']['latestPrice'],
                    'N/A',
                    data[symbol]['stats']['year1ChangePercent'],
                    'N/A',
                    data[symbol]['stats']['month6ChangePercent'],
                    'N/A',
                    data[symbol]['stats']['month3ChangePercent'],
                    'N/A',
                    data[symbol]['stats']['month1ChangePercent'],
                    'N/A',
                    'N/A'
                  ], 
                  index = hqm_columns)
       
      hqm_dataFrame = pd.concat(
        [
          hqm_dataFrame,
          new_row.to_frame().T
        ],
        ignore_index=True
      )
    except KeyError as e:
      print(f'Symbol {str(e)} data not found')

hqm_dataFrame

Error: ALXN has null stats
Error: CERN has null stats
Error: CTL has null stats
Symbol 'DISCA' data not found
Error: DISCK has null stats
Error: ETFC has null stats
Error: FLIR has null stats
Symbol 'HFC' data not found
Error: MXIM has null stats
Error: MYL has null stats
Error: NBL has null stats
Error: PBCT has null stats
Symbol 'VIAC' data not found
Symbol 'WLTW' data not found
Error: XLNX has null stats

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,124.14,N/A,-0.225674,N/A,-0.072228,N/A,0.036401,N/A,-0.044498,N/A,N/A
1,AAL,12.51,N/A,-0.420029,N/A,-0.340185,N/A,-0.03513,N/A,-0.058558,N/A,N/A
2,AAP,157.46,N/A,-0.221734,N/A,-0.222642,N/A,-0.069804,N/A,-0.045803,N/A,N/A
3,AAPL,144.9,N/A,0.012986,N/A,-0.187858,N/A,0.044979,N/A,-0.097131,N/A,N/A
4,ABBV,137.17,N/A,0.38976,N/A,-0.107831,N/A,-0.061035,N/A,0.062817,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
485,YUM,106.46,N/A,-0.11013,N/A,-0.088388,N/A,-0.051189,N/A,-0.037552,N/A,N/A
486,ZBH,104.69,N/A,-0.265301,N/A,-0.162087,N/A,0.022218,N/A,0.009824,N/A,N/A
487,ZBRA,273.15,N/A,-0.491702,N/A,-0.358411,N/A,-0.099349,N/A,-0.122705,N/A,N/A
488,ZION,53.21,N/A,-0.144483,N/A,-0.206198,N/A,0.024927,N/A,-0.061787,N/A,N/A
489,ZTS,151.17,N/A,-0.221696,N/A,-0.201666,N/A,-0.12053,N/A,-0.035714,N/A,N/A

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

Here's how we'll do this:

In [ ]:
time_periods = [
    'One-Year',
    'Six-Month',
    'Three-Month',
    'One-Month'
]

for row in hqm_dataFrame.index:
  for time_period in time_periods:
    change_col = f'{time_period} Price Return'
    percentile_col = f'{time_period} Return Percentile'
    hqm_dataFrame.loc[row, percentile_col] = score(hqm_dataFrame[change_col], hqm_dataFrame.loc[row, change_col])/100




hqm_dataFrame

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,124.14,N/A,-0.225674,0.344898,-0.072228,0.755102,0.036401,0.761224,-0.044498,0.755102,N/A
1,AAL,12.51,N/A,-0.420029,0.093878,-0.340185,0.126531,-0.03513,0.538776,-0.058558,0.67551,N/A
2,AAP,157.46,N/A,-0.221734,0.34898,-0.222642,0.404082,-0.069804,0.385714,-0.045803,0.75102,N/A
3,AAPL,144.9,N/A,0.012986,0.732653,-0.187858,0.477551,0.044979,0.8,-0.097131,0.406122,N/A
4,ABBV,137.17,N/A,0.38976,0.946939,-0.107831,0.67551,-0.061035,0.438776,0.062817,0.977551,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
485,YUM,106.46,N/A,-0.11013,0.54898,-0.088388,0.716327,-0.051189,0.467347,-0.037552,0.797959,N/A
486,ZBH,104.69,N/A,-0.265301,0.277551,-0.162087,0.546939,0.022218,0.72449,0.009824,0.932653,N/A
487,ZBRA,273.15,N/A,-0.491702,0.042857,-0.358411,0.097959,-0.099349,0.273469,-0.122705,0.226531,N/A
488,ZION,53.21,N/A,-0.144483,0.495918,-0.206198,0.436735,0.024927,0.730612,-0.061787,0.661224,N/A
489,ZTS,151.17,N/A,-0.221696,0.35102,-0.201666,0.446939,-0.12053,0.208163,-0.035714,0.810204,N/A

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

In [ ]:
from statistics import mean

for row in hqm_dataFrame.index:
  momentum_percentiles = []
  for time_period in time_periods:
    momentum_percentiles.append(hqm_dataFrame.loc[row, f'{time_period} Return Percentile'])
  hqm_dataFrame.loc[row, 'HQM Score'] =  mean(momentum_percentiles)

hqm_dataFrame

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,124.14,N/A,-0.225674,0.344898,-0.072228,0.755102,0.036401,0.761224,-0.044498,0.755102,0.654082
1,AAL,12.51,N/A,-0.420029,0.093878,-0.340185,0.126531,-0.03513,0.538776,-0.058558,0.67551,0.358673
2,AAP,157.46,N/A,-0.221734,0.34898,-0.222642,0.404082,-0.069804,0.385714,-0.045803,0.75102,0.472449
3,AAPL,144.9,N/A,0.012986,0.732653,-0.187858,0.477551,0.044979,0.8,-0.097131,0.406122,0.604082
4,ABBV,137.17,N/A,0.38976,0.946939,-0.107831,0.67551,-0.061035,0.438776,0.062817,0.977551,0.759694
...,...,...,...,...,...,...,...,...,...,...,...,...
485,YUM,106.46,N/A,-0.11013,0.54898,-0.088388,0.716327,-0.051189,0.467347,-0.037552,0.797959,0.632653
486,ZBH,104.69,N/A,-0.265301,0.277551,-0.162087,0.546939,0.022218,0.72449,0.009824,0.932653,0.620408
487,ZBRA,273.15,N/A,-0.491702,0.042857,-0.358411,0.097959,-0.099349,0.273469,-0.122705,0.226531,0.160204
488,ZION,53.21,N/A,-0.144483,0.495918,-0.206198,0.436735,0.024927,0.730612,-0.061787,0.661224,0.581122
489,ZTS,151.17,N/A,-0.221696,0.35102,-0.201666,0.446939,-0.12053,0.208163,-0.035714,0.810204,0.454082

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

In [ ]:
hqm_dataFrame.sort_values('HQM Score', ascending = False, inplace = True)
hqm_dataFrame = hqm_dataFrame[:50]
hqm_dataFrame.reset_index(drop=True, inplace=True)

hqm_dataFrame

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,LB,83.59,N/A,2.283638,1.0,0.821994,1.0,0.223367,0.97551,0.081022,0.987755,0.990816
1,COG,22.72,N/A,0.357168,0.940816,0.183824,0.981633,0.262203,0.987755,0.259366,0.997959,0.977041
2,UNM,39.9,N/A,0.643514,0.981633,0.258596,0.991837,0.154451,0.95102,0.025149,0.959184,0.970918
3,HRB,44.64,N/A,0.823892,0.993878,0.698749,0.997959,0.247353,0.979592,-0.030344,0.842857,0.953571
4,MPC,102.26,N/A,0.668396,0.983673,0.175053,0.977551,0.2181,0.973469,-0.020576,0.863265,0.94949
5,ALB,272.03,N/A,0.223174,0.9,0.209032,0.985714,0.279075,0.991837,-0.00843,0.891837,0.942347
6,NLSN,28.07,N/A,0.482026,0.963265,0.023255,0.893878,0.207004,0.971429,-0.00368,0.910204,0.934694
7,FTI,8.62,N/A,0.121702,0.82449,0.091912,0.953061,0.261049,0.985714,0.030973,0.963265,0.931633
8,CAH,67.41,N/A,0.408516,0.95102,0.216606,0.987755,0.307307,0.993878,-0.042802,0.767347,0.925
9,VRTX,301.05,N/A,0.631152,0.979592,0.123763,0.967347,0.040946,0.783673,0.041128,0.967347,0.92449
10,LW,78.96,N/A,0.303494,0.922449,0.325726,0.995918,0.098699,0.897959,-0.018342,0.867347,0.920918
11,CI,282.04,N/A,0.435273,0.955102,0.182557,0.979592,0.065429,0.85102,-0.010531,0.887755,0.918367
12,REGN,717.95,N/A,0.149462,0.85102,-0.009726,0.857143,0.177379,0.961224,0.192667,0.995918,0.916327
13,COP,104.99,N/A,0.606271,0.977551,0.071646,0.938776,0.178475,0.963265,-0.040034,0.779592,0.914796
14,HUM,488.76,N/A,0.281818,0.916327,0.138666,0.971429,0.052425,0.820408,0.021041,0.946939,0.913776
15,ORLY,721.31,N/A,0.165664,0.867347,0.040997,0.910204,0.128588,0.926531,0.021141,0.94898,0.913265
16,LLY,330.59,N/A,0.465521,0.961224,0.165464,0.973469,0.021279,0.722449,0.097221,0.989796,0.911735
17,GPC,156.47,N/A,0.27835,0.914286,0.206531,0.983673,0.133642,0.936735,-0.0358,0.808163,0.910714
18,GIS,77.23,N/A,0.352344,0.938776,0.1673,0.97551,0.037842,0.773469,0.012111,0.936735,0.906122
19,BIIB,280,N/A,-0.066684,0.608163,0.257187,0.989796,0.310014,0.995918,0.361547,1.0,0.898469
20,SJM,139.19,N/A,0.199344,0.885714,0.041964,0.918367,0.09576,0.891837,-0.007408,0.893878,0.897449
21,HSY,227.21,N/A,0.35202,0.936735,0.044128,0.922449,0.044901,0.797959,-0.003989,0.908163,0.891327
22,LVS,39,N/A,0.053658,0.773469,-0.009168,0.859184,0.150933,0.94898,0.024654,0.957143,0.884694
23,TIF,133.71,N/A,0.003118,0.718367,0.081883,0.946939,0.129472,0.928571,0.001556,0.918367,0.878061
24,MTB,184.76,N/A,0.197519,0.883673,0.039284,0.908163,0.107921,0.912245,-0.039361,0.783673,0.871939
25,VAR,178.98,N/A,0.582094,0.971429,0.029811,0.9,0.0106,0.683673,0.005047,0.922449,0.869388
26,AZO,2228.81,N/A,0.282377,0.918367,0.057378,0.932653,0.004614,0.657143,0.01957,0.940816,0.862245
27,IEX,200.31,N/A,-0.021329,0.691837,0.051965,0.928571,0.106358,0.910204,-0.004845,0.904082,0.858673
28,HII,226.6,N/A,0.187873,0.879592,0.134707,0.969388,0.031276,0.740816,-0.031092,0.836735,0.856633
29,CVS,99.96,N/A,0.171992,0.87551,-0.032598,0.826531,0.053898,0.828571,-0.012439,0.883673,0.853571
30,GL,100.1,N/A,0.136067,0.838776,0.000631,0.869388,0.031275,0.738776,0.032169,0.965306,0.853061
31,RSG,137.03,N/A,0.157828,0.859184,0.041369,0.914286,0.051449,0.816327,-0.037051,0.802041,0.847959
32,PFG,72.25,N/A,0.153651,0.855102,-0.010372,0.855102,0.082055,0.87551,-0.03789,0.795918,0.845408
33,CTXS,108,N/A,-0.028218,0.679592,0.030735,0.904082,0.070082,0.861224,0.011238,0.934694,0.844898
34,K,70.16,N/A,0.151083,0.853061,0.121229,0.965306,0.010917,0.685714,-0.017238,0.873469,0.844388
35,PGR,121.32,N/A,0.341163,0.930612,0.041239,0.912245,0.019921,0.716327,-0.035256,0.814286,0.843367
36,CF,98.45,N/A,0.768994,0.991837,-0.052709,0.793878,0.143152,0.940816,-0.064314,0.642857,0.842347
37,MCK,346.41,N/A,0.747967,0.989796,0.120823,0.963265,0.050215,0.812245,-0.071422,0.587755,0.838265
38,NOC,488.45,N/A,0.321242,0.92449,0.060391,0.936735,-0.013972,0.604082,-0.016305,0.877551,0.835714
39,ULTA,410.49,N/A,0.12486,0.826531,0.017062,0.889796,0.052435,0.822449,-0.037452,0.8,0.834694
40,WM,162.55,N/A,0.104518,0.810204,0.030686,0.902041,0.064607,0.84898,-0.04005,0.777551,0.834694
41,KEYS,161.79,N/A,-0.034945,0.667347,0.005448,0.87551,0.15581,0.955102,-0.032472,0.832653,0.832653
42,DRI,127.87,N/A,-0.118689,0.538776,-0.009018,0.861224,0.162317,0.959184,0.045492,0.971429,0.832653
43,KSU,294.09,N/A,0.518104,0.967347,-0.000516,0.865306,0.045195,0.802041,-0.057319,0.681633,0.829082
44,TJX,63.31,N/A,-0.055369,0.628571,0.023692,0.895918,0.104974,0.908163,-0.016827,0.87551,0.827041
45,DG,245.28,N/A,0.143124,0.844898,0.084712,0.94898,-0.022383,0.57551,0.008748,0.928571,0.82449
46,UNH,515.49,N/A,0.327048,0.928571,0.004586,0.873469,-0.006243,0.620408,-0.017917,0.871429,0.823469
47,CBOE,119.91,N/A,-0.034015,0.669388,0.037991,0.906122,0.045356,0.804082,-0.002123,0.914286,0.823469
48,EOG,113.21,N/A,0.554946,0.969388,-0.014729,0.846939,0.043956,0.791837,-0.057314,0.683673,0.822959
49,XOM,90.22,N/A,0.601156,0.97551,0.098161,0.955102,0.047075,0.808163,-0.075854,0.55102,0.822449

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

In [ ]:
#@markdown Enter the value of your portfolio.
portfolio_size = 10000000 #@param {type:"number"}

In [ ]:
position_size = float(portfolio_size)/len(hqm_dataFrame.index)

for row in hqm_dataFrame.index:
  hqm_dataFrame.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/hqm_dataFrame.loc[row, 'Price'])
hqm_dataFrame

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,LB,83.59,2392,2.283638,1.0,0.821994,1.0,0.223367,0.97551,0.081022,0.987755,0.990816
1,COG,22.72,8802,0.357168,0.940816,0.183824,0.981633,0.262203,0.987755,0.259366,0.997959,0.977041
2,UNM,39.9,5012,0.643514,0.981633,0.258596,0.991837,0.154451,0.95102,0.025149,0.959184,0.970918
3,HRB,44.64,4480,0.823892,0.993878,0.698749,0.997959,0.247353,0.979592,-0.030344,0.842857,0.953571
4,MPC,102.26,1955,0.668396,0.983673,0.175053,0.977551,0.2181,0.973469,-0.020576,0.863265,0.94949
5,ALB,272.03,735,0.223174,0.9,0.209032,0.985714,0.279075,0.991837,-0.00843,0.891837,0.942347
6,NLSN,28.07,7125,0.482026,0.963265,0.023255,0.893878,0.207004,0.971429,-0.00368,0.910204,0.934694
7,FTI,8.62,23201,0.121702,0.82449,0.091912,0.953061,0.261049,0.985714,0.030973,0.963265,0.931633
8,CAH,67.41,2966,0.408516,0.95102,0.216606,0.987755,0.307307,0.993878,-0.042802,0.767347,0.925
9,VRTX,301.05,664,0.631152,0.979592,0.123763,0.967347,0.040946,0.783673,0.041128,0.967347,0.92449
10,LW,78.96,2532,0.303494,0.922449,0.325726,0.995918,0.098699,0.897959,-0.018342,0.867347,0.920918
11,CI,282.04,709,0.435273,0.955102,0.182557,0.979592,0.065429,0.85102,-0.010531,0.887755,0.918367
12,REGN,717.95,278,0.149462,0.85102,-0.009726,0.857143,0.177379,0.961224,0.192667,0.995918,0.916327
13,COP,104.99,1904,0.606271,0.977551,0.071646,0.938776,0.178475,0.963265,-0.040034,0.779592,0.914796
14,HUM,488.76,409,0.281818,0.916327,0.138666,0.971429,0.052425,0.820408,0.021041,0.946939,0.913776
15,ORLY,721.31,277,0.165664,0.867347,0.040997,0.910204,0.128588,0.926531,0.021141,0.94898,0.913265
16,LLY,330.59,604,0.465521,0.961224,0.165464,0.973469,0.021279,0.722449,0.097221,0.989796,0.911735
17,GPC,156.47,1278,0.27835,0.914286,0.206531,0.983673,0.133642,0.936735,-0.0358,0.808163,0.910714
18,GIS,77.23,2589,0.352344,0.938776,0.1673,0.97551,0.037842,0.773469,0.012111,0.936735,0.906122
19,BIIB,280,714,-0.066684,0.608163,0.257187,0.989796,0.310014,0.995918,0.361547,1.0,0.898469
20,SJM,139.19,1436,0.199344,0.885714,0.041964,0.918367,0.09576,0.891837,-0.007408,0.893878,0.897449
21,HSY,227.21,880,0.35202,0.936735,0.044128,0.922449,0.044901,0.797959,-0.003989,0.908163,0.891327
22,LVS,39,5128,0.053658,0.773469,-0.009168,0.859184,0.150933,0.94898,0.024654,0.957143,0.884694
23,TIF,133.71,1495,0.003118,0.718367,0.081883,0.946939,0.129472,0.928571,0.001556,0.918367,0.878061
24,MTB,184.76,1082,0.197519,0.883673,0.039284,0.908163,0.107921,0.912245,-0.039361,0.783673,0.871939
25,VAR,178.98,1117,0.582094,0.971429,0.029811,0.9,0.0106,0.683673,0.005047,0.922449,0.869388
26,AZO,2228.81,89,0.282377,0.918367,0.057378,0.932653,0.004614,0.657143,0.01957,0.940816,0.862245
27,IEX,200.31,998,-0.021329,0.691837,0.051965,0.928571,0.106358,0.910204,-0.004845,0.904082,0.858673
28,HII,226.6,882,0.187873,0.879592,0.134707,0.969388,0.031276,0.740816,-0.031092,0.836735,0.856633
29,CVS,99.96,2000,0.171992,0.87551,-0.032598,0.826531,0.053898,0.828571,-0.012439,0.883673,0.853571
30,GL,100.1,1998,0.136067,0.838776,0.000631,0.869388,0.031275,0.738776,0.032169,0.965306,0.853061
31,RSG,137.03,1459,0.157828,0.859184,0.041369,0.914286,0.051449,0.816327,-0.037051,0.802041,0.847959
32,PFG,72.25,2768,0.153651,0.855102,-0.010372,0.855102,0.082055,0.87551,-0.03789,0.795918,0.845408
33,CTXS,108,1851,-0.028218,0.679592,0.030735,0.904082,0.070082,0.861224,0.011238,0.934694,0.844898
34,K,70.16,2850,0.151083,0.853061,0.121229,0.965306,0.010917,0.685714,-0.017238,0.873469,0.844388
35,PGR,121.32,1648,0.341163,0.930612,0.041239,0.912245,0.019921,0.716327,-0.035256,0.814286,0.843367
36,CF,98.45,2031,0.768994,0.991837,-0.052709,0.793878,0.143152,0.940816,-0.064314,0.642857,0.842347
37,MCK,346.41,577,0.747967,0.989796,0.120823,0.963265,0.050215,0.812245,-0.071422,0.587755,0.838265
38,NOC,488.45,409,0.321242,0.92449,0.060391,0.936735,-0.013972,0.604082,-0.016305,0.877551,0.835714
39,ULTA,410.49,487,0.12486,0.826531,0.017062,0.889796,0.052435,0.822449,-0.037452,0.8,0.834694
40,WM,162.55,1230,0.104518,0.810204,0.030686,0.902041,0.064607,0.84898,-0.04005,0.777551,0.834694
41,KEYS,161.79,1236,-0.034945,0.667347,0.005448,0.87551,0.15581,0.955102,-0.032472,0.832653,0.832653
42,DRI,127.87,1564,-0.118689,0.538776,-0.009018,0.861224,0.162317,0.959184,0.045492,0.971429,0.832653
43,KSU,294.09,680,0.518104,0.967347,-0.000516,0.865306,0.045195,0.802041,-0.057319,0.681633,0.829082
44,TJX,63.31,3159,-0.055369,0.628571,0.023692,0.895918,0.104974,0.908163,-0.016827,0.87551,0.827041
45,DG,245.28,815,0.143124,0.844898,0.084712,0.94898,-0.022383,0.57551,0.008748,0.928571,0.82449
46,UNH,515.49,387,0.327048,0.928571,0.004586,0.873469,-0.006243,0.620408,-0.017917,0.871429,0.823469
47,CBOE,119.91,1667,-0.034015,0.669388,0.037991,0.906122,0.045356,0.804082,-0.002123,0.914286,0.823469
48,EOG,113.21,1766,0.554946,0.969388,-0.014729,0.846939,0.043956,0.791837,-0.057314,0.683673,0.822959
49,XOM,90.22,2216,0.601156,0.97551,0.098161,0.955102,0.047075,0.808163,-0.075854,0.55102,0.822449

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [ ]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataFrame.to_excel(writer, sheet_name = "Momentum Strategy", index = False)

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [ ]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [ ]:
column_formats = { 
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['One-Year Price Return', percent_template],
                    'E': ['One-Year Return Percentile', percent_template],
                    'F': ['Six-Month Price Return', percent_template],
                    'G': ['Six-Month Return Percentile', percent_template],
                    'H': ['Three-Month Price Return', percent_template],
                    'I': ['Three-Month Return Percentile', percent_template],
                    'J': ['One-Month Price Return', percent_template],
                    'K': ['One-Month Return Percentile', percent_template],
                    'L': ['HQM Score', integer_template]
                    }

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

## Saving Our Excel Output

As before, saving our Excel output is very easy:

In [ ]:
writer.save()

/usr/local/lib/python3.7/dist-packages/xlsxwriter/workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")